*{
    box-sizing: border-box
}
.grid{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
}

.cornice{
    width: 400px;
    height: 50px;
    background-color: grey;
    display: flex;
    border: 1px solid black
}

.grid div{
    height: 40px;
    width: 40px;
    border: 1px solid black;
    color: rgba(0, 0, 0, 0)
}

.bomb{
    background-color: orange
}

.green{
    background-color: green;
}

.container{
    display: inline-block;
    text-align: center
}

#c1{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: whitesmoke;
}
#point{
    height: 100%;
    aspect-ratio: 1/1;
    background-color: red
}

.c2{
    flex-grow: 2;
}

.c3{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: transparent

}

#face{
    height: 100%;
    aspect-ratio: 1/1;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


#result{
    font-size: 2rem
}